<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- <link rel="icon" href="cloud.png" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Used to find details about an item with a DPCI"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Item Lookup</title>
  </head>
  <body class="container texxt-center">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="body-card">
        <div class=" shadow p-3 mb-5 bg-body rounded modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title  mx-auto">Find Item By DPCI</h3>
                </div>
                <div class="modal-body">
                    <form method="POST" action='/item/'>
                        <h5 class="text-center">Enter your product's DPCI below</h5>
                        <div class="mb-3 text-start">
                            <label class="form-label" htmlFor="dpci">DPCI</label>
                            <input type="text" class="form-control" id="dpci" name="dpci" aria-describedby="dpciHelp" placeholder="071-08-2118" maxLength="5"  ></input>
                            <div id="dpciHelp" class="form-text">DPCI with or without dashes</div>
                        </div>
                        <div class="d-grid gap-2">                    
                            <button type="submit" class="btn btn-success mx-auto" >Enter</button>
                        </div>                    
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>
</html>